In [2]:
### Final supplementary sheet ### 
import pandas as pd

In [3]:
flores_sib = pd.read_csv('overall_result_flores_sib.csv')
lid = pd.read_csv('overall_results_lid_full.csv')
belebele = pd.read_csv('overall_results_belebele.csv')
nli = pd.read_csv('overall_results_nli.csv')

In [8]:
flores_sib.head(1)

,language_name,language_code,language_family,SIB gpt-3.5 (old),SIB gpt-4 (old),SIB gpt-3.5-turbo-1106 (Apr 2025),SIB gpt-4o (Apr 2025),SIB Gemini-2-Flash (Apr 2025),SIB Gemma-3-27B,SIB XLMR,...,Flores eng-xx gpt-3.5-turbo-1106,Flores xx-eng gpt-4o (Apr 2025),Flores eng-xx gpt-4o (Apr 2025),Flores xx-eng Gemini-2-Flash (Apr 2025),Flores eng-xx Gemini-2-Flash (Apr 2025),Flores xx-eng Gemma3-27B,Flores eng-xx Gemma3-27B,region,Flores xx-eng NLLB3.3,Flores eng-xx NLLB3.3
0,Acehnese (Arabic script),ace_Arab,Austronesian,9.1,14.2,41.2,75.5,73.0,61.3,25.0,...,8.4,34.5,12.4,37.3,8.4,26.0,1.7,Asia 3,31.3,15.7

In [7]:
belebele.head(1)

,language_name,language_code,language_family,Accuracy gpt-4o,Accuracy gemini2-Flash,Accuracy Gemma3-27B,region
0,Mesopotamian Arabic,acm_Arab,Afro-Asiatic,82.2,83.6,78.1,Asia 1

In [6]:
df = pd.DataFrame()

In [9]:
belebele_codes = list(belebele['language_code'])

In [11]:
set(belebele_codes)-set(list(flores_sib['language_code']))

{'ben_Latn', 'hin_Latn', 'npi_Latn', 'sin_Latn', 'urd_Latn'}

In [61]:
belebele_map = {'ben_Latn':'ben_Beng', 'hin_Latn':'hin_Deva', 'npi_Latn':'npi_Deva', 'sin_Latn':'sin_Sinh', 'urd_Latn':'urd_Arab'}
inverted_belebele = {v: k for k, v in belebele_map.items()}

#These can be mapped to flores all of them.

In [12]:
nli.head(1)

,language_name,language_code,language_family,Accuracy gpt-4o (April 2025),Accuracy Gemini-2-Flash (April 2025),Accuracy Gemma3-27B,region
0,Amharic,amh,Afro-Asiatic,68.5,74.2,71.5,Africa

In [69]:
nli_map = {'amh': 'amh_Ethi',
 'ara': 'arb_Arab',
 'asm': 'asm_Beng',
 'aym': 'ayr_Latn',
 'ben': 'ben_Beng',
 'bul': 'bul_Cyrl',
 'bzd': '',
 'cat': 'cat_Latn',
 'cni': '',
 'deu': 'deu_Latn',
 'ell': 'ell_Grek',
 'eng': 'eng_Latn',
 'ewe': 'ewe_Latn',
 'fra': 'fra_Latn',
 'grn': 'grn_Latn',
 'guj': 'guj_Gujr',
 'hau': 'hau_Latn',
 'hch': '',
 'hin': 'hin_Deva',
 'ibo': 'ibo_Latn',
 'ind': 'ind_Latn',
 'jpn': 'jpn_Jpan',
 'kan': 'kan_Knda',
 'kin': 'kin_Latn',
 'kor': 'kor_Hang',
 'lin': 'lin_Latn',
 'lug': 'lug_Latn',
 'mal': 'mal_Mlym',
 'mar': 'mar_Deva',
 'mya': 'mya_Mymr',
 'nah': '',
 'ori': 'ory_Orya',
 'orm': 'gaz_Latn',
 'oto': '',
 'pan': 'pan_Guru',
 'pat': '',
 'pol': 'pol_Latn',
 'por': 'por_Latn',
 'quy': 'quy_Latn',
 'ron': 'ron_Latn',
 'rus': 'rus_Cyrl',
 'shp': '',
 'sna': 'sna_Latn',
 'sot': 'sot_Latn',
 'spa': 'spa_Latn',
 'swa': 'swh_Latn',
 'tam': 'tam_Taml',
 'tar': '',
 'tel': 'tel_Telu',
 'tha': 'tha_Thai',
 'tur': 'tur_Latn',
 'twi': 'twi_Latn',
 'urd': 'urd_Arab',
 'vie': 'vie_Latn',
 'wol': 'wol_Latn',
 'xho': 'xho_Latn',
 'yor': 'yor_Latn',
 'zho': 'zho_Hans',
 'zul': 'zul_Latn'}

In [70]:
inverted_nli = {v: k for k, v in nli_map.items()}

In [16]:
new_langs = []
for k,v in nli_map.items():
    if v == '':
        new_langs.append(k)

In [17]:
new_langs

['bzd', 'cni', 'hch', 'nah', 'oto', 'pat', 'shp', 'tar']

In [21]:
df['language_name']=flores_sib['language_name']
df['language_code']=flores_sib['language_code']
df['language_family']=flores_sib['language_family']
df['region']=flores_sib['region']
df['in_flores']=True

In [30]:
df.loc[131,'in_flores']=False

In [32]:
nli[nli['language_code'] == 'eng'].iloc[0]

language_name                                 English
language_code                                     eng
language_family                         Indo-European
Accuracy gpt-4o (April 2025)                     88.3
Accuracy Gemini-2-Flash (April 2025)             87.3
Accuracy Gemma3-27B                              86.3
region                                       Europe 1
Name: 11, dtype: object

In [35]:
new_entries = []
for lang in new_langs:
    nli_entry = nli[nli['language_code'] ==lang].iloc[0]
    new_entries.append([nli_entry['language_name'],nli_entry['language_code'],nli_entry['language_family'],nli_entry['region'],False])

In [37]:
new_entries_df = pd.DataFrame(new_entries, columns=df.columns)

In [39]:
df = pd.concat([df, new_entries_df], ignore_index=True)

In [40]:
df

,language_name,language_code,language_family,region,in_flores
0,Acehnese (Arabic script),ace_Arab,Austronesian,Asia 3,True
1,Acehnese (Latin script),ace_Latn,Austronesian,Asia 3,True
2,Mesopotamian Arabic,acm_Arab,Afro-Asiatic,Asia 1,True
3,Taâ€™izzi-Adeni Arabic,acq_Arab,Afro-Asiatic,Asia 1,True
4,Tunisian Arabic,aeb_Arab,Afro-Asiatic,Africa,True
...,...,...,...,...,...
208,Nahuatl,nah,Uto-Aztecan,Americas/Oceania,False
209,Otomi,oto,Oto-Manguean,Americas/Oceania,False
210,Jamaican Patois,pat,English-Creole,Americas/Oceania,False
211,Shipibo-Conibo,shp,Panoan,Americas/Oceania,False
212,RarÃ¡muri,tar,Uto-Aztecan,Americas/Oceania,False

In [41]:
df = df.sort_values(by="language_code")

In [43]:
df = df.reset_index(drop=True)

In [44]:
df

                language_name language_code language_family  region  in_flores
0    Acehnese (Arabic script)      ace_Arab    Austronesian  Asia 3       True
1     Acehnese (Latin script)      ace_Latn    Austronesian  Asia 3       True
2         Mesopotamian Arabic      acm_Arab    Afro-Asiatic  Asia 1       True
3        Taâ€™izzi-Adeni Arabic      acq_Arab    Afro-Asiatic  Asia 1       True
4             Tunisian Arabic      aeb_Arab    Afro-Asiatic  Africa       True
..                        ...           ...             ...     ...        ...
208               Yue Chinese      yue_Hant    Sino-Tibetan  Asia 4       True
209      Chinese (Simplified)      zho_Hans    Sino-Tibetan  Asia 4       True
210     Chinese (Traditional)      zho_Hant    Sino-Tibetan  Asia 4       True
211            Standard Malay      zsm_Latn    Austronesian  Asia 3       True
212                      Zulu      zul_Latn  Atlantic-Congo  Africa       True

[213 rows x 5 columns]

In [52]:
all_codes = list(df['language_code'])

In [53]:
## LID
gemma = []
gpt = []
gemini = []
for lang in all_codes:
    entry = lid[lid['language_code'] == lang]
    if entry.shape[0] > 0:
        gemma.append(entry.iloc[0]['Accuracy Gemma3-27B'])
        gpt.append(entry.iloc[0]['Accuracy gpt-4o'])
        gemini.append(entry.iloc[0]['Accuracy gemini2-Flash'])
    else:
        gemma.append('')
        gpt.append('')
        gemini.append('')
df['LID_accuracy_gemma'] = gemma
df['LID_accuracy_gpt4o'] = gpt
df['LID_accuracy_gemini'] = gemini

In [57]:
## SIB
gemma = []
gpt = []
gemini = []
for lang in all_codes:
    entry = flores_sib[flores_sib['language_code'] == lang]
    if entry.shape[0] > 0:
        gemma.append(entry.iloc[0]['SIB Gemma-3-27B'])
        gpt.append(entry.iloc[0]['SIB gpt-4o (Apr 2025)'])
        gemini.append(entry.iloc[0]['SIB Gemini-2-Flash (Apr 2025)'])
    else:
        gemma.append('')
        gpt.append('')
        gemini.append('')
df['TC_accuracy_gemma'] = gemma
df['TC_accuracy_gpt4o'] = gpt
df['TC_accuracy_gemini'] = gemini

In [63]:
## belebele
gemma = []
gpt = []
gemini = []
for lang in all_codes:
    entry = belebele[belebele['language_code'] == lang]
    if entry.shape[0] > 0:
        gemma.append(entry.iloc[0]['Accuracy Gemma3-27B'])
        gpt.append(entry.iloc[0]['Accuracy gpt-4o'])
        gemini.append(entry.iloc[0]['Accuracy gemini2-Flash'])
    else:
        if lang in inverted_belebele.keys():
            new_key = inverted_belebele[lang]
            entry = belebele[belebele['language_code'] == new_key]
            gemma.append(entry.iloc[0]['Accuracy Gemma3-27B'])
            gpt.append(entry.iloc[0]['Accuracy gpt-4o'])
            gemini.append(entry.iloc[0]['Accuracy gemini2-Flash'])
        else:  
            gemma.append('')
            gpt.append('')
            gemini.append('')
            
df['RC_accuracy_gemma'] = gemma
df['RC_accuracy_gpt4o'] = gpt
df['RC_accuracy_gemini'] = gemini

In [74]:
## NLI
gemma = []
gpt = []
gemini = []
for lang in all_codes:
    if lang in inverted_nli.keys():
        nli_code = inverted_nli[lang]
        entry = nli[nli['language_code'] == nli_code]
        gemma.append(entry.iloc[0]['Accuracy Gemma3-27B'])
        gpt.append(entry.iloc[0]['Accuracy gpt-4o (April 2025)'])
        gemini.append(entry.iloc[0]['Accuracy Gemini-2-Flash (April 2025)'])
    elif lang in new_langs:
        entry = nli[nli['language_code'] == lang]
        gemma.append(entry.iloc[0]['Accuracy Gemma3-27B'])
        gpt.append(entry.iloc[0]['Accuracy gpt-4o (April 2025)'])
        gemini.append(entry.iloc[0]['Accuracy Gemini-2-Flash (April 2025)'])
    else:  
        gemma.append('')
        gpt.append('')
        gemini.append('')
            
df['NLI_accuracy_gemma'] = gemma
df['NLI_accuracy_gpt4o'] = gpt
df['NLI_accuracy_gemini'] = gemini

In [78]:
### flores
gemma = []
gpt = []
gemini = []
for lang in all_codes:
    entry = flores_sib[flores_sib['language_code'] == lang]
    if entry.shape[0] > 0:
        gemma.append("{}/{}".format(entry.iloc[0]['Flores xx-eng Gemma3-27B'],entry.iloc[0]['Flores eng-xx Gemma3-27B']))
        gpt.append("{}/{}".format(entry.iloc[0]['Flores xx-eng gpt-4o (Apr 2025)'],entry.iloc[0]['Flores eng-xx gpt-4o (Apr 2025)']))
        gemini.append("{}/{}".format(entry.iloc[0]['Flores xx-eng Gemini-2-Flash (Apr 2025)'],entry.iloc[0]['Flores eng-xx Gemini-2-Flash (Apr 2025)']))
    else:
        gemma.append('')
        gpt.append('')
        gemini.append('')
df['MT_chrf_gemma'] = gemma
df['MT_chrf_gpt4o'] = gpt
df['MT_chrf_gemini'] = gemini

In [81]:
df = df.drop(columns=["MT_chrf_gemma",'MT_chrf_gpt4o','MT_chrf_gemini'])

In [82]:
### flores
gemma1 = []
gemma2 = []

gpt1 = []
gpt2 = []

gemini1 = []
gemini2 = []

for lang in all_codes:
    entry = flores_sib[flores_sib['language_code'] == lang]
    if entry.shape[0] > 0:
        gemma1.append(entry.iloc[0]['Flores xx-eng Gemma3-27B'])
        gpt1.append(entry.iloc[0]['Flores xx-eng gpt-4o (Apr 2025)'])
        gemini1.append(entry.iloc[0]['Flores xx-eng Gemini-2-Flash (Apr 2025)'])
        gemma2.append(entry.iloc[0]['Flores eng-xx Gemma3-27B'])
        gpt2.append(entry.iloc[0]['Flores eng-xx gpt-4o (Apr 2025)'])
        gemini2.append(entry.iloc[0]['Flores eng-xx Gemini-2-Flash (Apr 2025)'])
    else:
        gemma1.append('')
        gpt1.append('')
        gemini1.append('')
        gemma2.append('')
        gpt2.append('')
        gemini2.append('')
df['MT_xx_eng_chrf_gemma'] = gemma1
df['MT_eng_xx_chrf_gemma'] = gemma2
df['MT_xx_eng_chrf_gpt4o'] = gpt1
df['MT_eng_xx_chrf_gpt4o'] = gpt2
df['MT_xx_eng_chrf_gemini'] = gemini1
df['MT_eng_xx_chrf_gemini'] = gemini2

In [83]:
df.to_csv('text_results_all_tasks.csv',index=False)